@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;
}
/* BANNER-------- */
.banner-title{
  color: white;
  font-weight: 700;
  margin-bottom: 3%;
  text-transform: uppercase;
}
.banner-description{
  color: white;
  font-weight: 400;
  margin-bottom: 3%;
}
.circle1{
  position:relative;
  width: 260px ;
  height: 260px;
  border-radius: 50%;
  /* background: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo1{
  position:absolute;
  width: 180px;
  /* height: 120px; */
  height: 180px;
  /* background: url('https://i.ibb.co/kBvfcdH/build-1.png'); */
  background: url('https://i.ibb.co/1Qz3x4B/plenora-light-logo-removebg-preview.png');
  background-size: cover;
  border-radius: 50%;
  filter: brightness(1.5) contrast(1.5);
}
.text1{
 color: #fff;
 text-transform: uppercase;
 position: absolute;
 width: 100%;
 height: 100%;
 animation: rotateText 10s linear infinite ;
}
@keyframes rotateText
{
  0% 
  {
    transform: rotate(360deg);
  }
}
.text1 span{
  position: absolute;
  left: 50%;
  font-size: 1.2rem;
  transform-origin: 0 130px;
  font-weight: 700;
}



/* CUSTOMER------REVIEW */
.slick-slide > div{
  margin: 0 10px;
}
/* .gradient1{
  background: linear-gradient(45deg,rgba(7,25,82,0.7),rgba(0,0,0,0.3));

}
.gradient1:hover{
  background: transparent;
} */


.theme-bg{
  background: #ff5733;
  padding: 3%;
}
.bg-gray{
  background: #949190;
}
.text-gray{
  color:#949190 ;
}
.btn-basic{
  background: #ff5733;
  color: white;
}
.btn-basic:hover{
  background: #f0eceb;
  color: #ff5733;
  border-color: #ff5733;
}
.btn-white{
  background: #f0eceb;
  color: #949190;
}
.btn-white:hover{
  background: #ff5733;
  color: white;
}

.nav-text-basic{
  color: #949190;
  font-size: large;
}
.nav-text-basic:hover{
  color: #ff5733;
  font-size: larger;
  text-decoration: underline;
}
/* .nav-text-basic::selection{
  color: #ff5733;
  font-size: larger;
  text-decoration: underline;
} */
.selected_tab{
  color: #ff5733;
  font-size: larger;
  /* text-decoration: underline; */
  font-weight: 600;
}

.text-basic{
  color: #949190;
}
.text-theme{
  color: #ff5733;
}
.top_left{
  border-radius: 35% 0% 0% 0% ;
}
.top_right{
  border-radius: 0% 35% 0% 0% ;
}
.bottom-right{
  border-radius: 0% 0% 25% 0% ;
}
.rounded_custom{
  border: 3px solid #ff5733;
  border-radius: 50% ;
}
.text_big{
  font-size: 220px;
}
.circle{
  position:relative;
  width: 160px ;
  height: 160px;
  border-radius: 50%;
  /* background: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  position:absolute;
  width: 60px;
  height: 60px;
  background: url('https://i.ibb.co/kBvfcdH/build-1.png');
  background-size: cover;
  border-radius: 50%;
  filter: brightness(1.5) contrast(1.5);
}
.text{
 color: #ff5733;
 text-transform: uppercase;
 position: absolute;
 width: 100%;
 height: 100%;
 animation: rotateText 10s linear infinite ;
}
@keyframes rotateText
{
  0% 
  {
    transform: rotate(360deg);
  }
}
.text span{
  position: absolute;
  left: 50%;
  font-size: 0.6rem;
  transform-origin: 0 80px;
  font-weight: 700;
}

/* LOADING------- */
.progress-bar {
  animation: fill-progress 2s linear;
}

@keyframes fill-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}