@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn-basic{
  background: #ff5733;
  color: white;
}
.btn-basic:hover{
  background: #f0eceb;
  color: #ff5733;
  border-color: #ff5733;
}

.nav-text-basic{
  color: rgb(143, 138, 138);
  font-size: large;
}
.nav-text-basic:hover{
  color: #ff5733;
  font-size: larger;
  text-decoration: underline;
}
.nav-text-basic::selection{
  color: #ff5733;
  font-size: larger;
  text-decoration: underline;
}
.active{
  color: #ff5733;
  font-size: larger;
  text-decoration: underline;
}
.text-basic{
  color: rgb(143, 138, 138);
}
.text-theme{
  color: #ff5733;
}
