@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.theme-bg{
  background: #ff5733;
  padding: 3%;
}
.bg-gray{
  background: #949190;
}
.text-gray{
  color:#949190 ;
}
.btn-basic{
  background: #ff5733;
  color: white;
}
.btn-basic:hover{
  background: #f0eceb;
  color: #ff5733;
  border-color: #ff5733;
}
.btn-white{
  background: #f0eceb;
  color: #949190;
}
.btn-white:hover{
  background: #ff5733;
  color: white;
}

.nav-text-basic{
  color: #949190;
  font-size: large;
}
.nav-text-basic:hover{
  color: #ff5733;
  font-size: larger;
  text-decoration: underline;
}
.nav-text-basic::selection{
  color: #ff5733;
  font-size: larger;
  text-decoration: underline;
}
.active{
  color: #ff5733;
  font-size: larger;
  text-decoration: underline;
}
.banner-title{
  color: white;
  font-weight: 700;
  margin-bottom: 3%;
  text-transform: uppercase;
}
.banner-description{
  color: white;
  font-weight: 400;
  margin-bottom: 3%;
}
.text-basic{
  color: #949190;
}
.text-theme{
  color: #ff5733;
}
.top_left{
  border-radius: 35% 0% 0% 0% ;
}
.top_right{
  border-radius: 0% 35% 0% 0% ;
}
.bottom-right{
  border-radius: 0% 0% 25% 0% ;
}